*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;
    color: blueviolet;
    text-shadow: 0.05em 0.05em black;




}
h2{ font-size: 2.7em;
    color: blueviolet;
    text-shadow: 0.05em 0.05em black;

}


p{ font-size: 1.25em; }

button:hover{
    background-color: blueviolet;

}

.contenedor{
    max-width: 1400px;
    margin: auto;
    text-shadow: 0.1em 0.1em yellowgreen;




}
header{
    background-color: rgb(163, 217, 177)
}

header .logo{
    margin: 0;
    padding: 5px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.35em;

}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.15em;
}

header a:hover{
    color:  blueviolet;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url(imagenes/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

header img {
    width: 150px; 
    height: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    }

.construccion{
    
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 30px;
     height: 100vh;

}
.construccion img{
    width: 50vh;
    height: 50vh;
}
    
  




@media (min-width: 720px) {  /* si el ancho de la pantalla supera los 720 px se aplicaran los sgtes estilos*/
        header{
            position: fixed;  /* buscamos que el header quede fijo y no se  modifique al strolerar*/
            width: 100% /* siempre que elijo posición fixed , with= 100% para que no se desplace el header*/
        }
    
        header .contenedor{
            flex-direction: row; /*row permite que ALQUILERES TEMPORARIOS.COM  baje a la misma linea que CONTACTOS*/
            justify-content: space-between;  /*CONTACTOS Y QUINES SOMOS Y ALQUILERES se desplazan juntos hacia la derecha de la pantalla*/
        }     
    
        header nav{
            flex-direction: row;
            padding-bottom: 0;  /* se saca el padding que traía de antes de la parte de abajo del botón*/
            padding-right: -20px; /* agrega padding a la derecha del botón QUIENES SOMOS para que no quede ese botón tan pegado al borde pantalla*/
        }
@media (min-width: 1200px) {  /* si el ancho de la pantalla supera los 720 px se aplicaran los sgtes estilos*/
        header{
                position: fixed;  /* buscamos que el header quede fijo y no se  modifique al strolerar*/
                width: 100% /* siempre que elijo posición fixed , with= 100% para que no se desplace el header*/
        }
        
        header .contenedor{
                flex-direction: row; /*row permite que ALQUILERES TEMPORARIOS.COM  baje a la misma linea que CONTACTOS*/
                justify-content: space-between;  /*CONTACTOS Y QUINES SOMOS Y ALQUILERES se desplazan juntos hacia la derecha de la pantalla*/
        }     
        
         header nav{
                flex-direction: row;
                padding-bottom: 0;  /* se saca el padding que traía de antes de la parte de abajo del botón*/
                padding-right: -20px; /* agrega padding a la derecha del botón QUIENES SOMOS para que no quede ese botón tan pegado al borde pantalla*/
        }
    
    } 
} 
